.user-details-container {
  position: absolute;
  padding: 8px;
  border-radius: 5px;
  left: 57px;
  top: -25px;
  min-width: 130px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 3px 10px #ddd;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.user-details-container--from-self {
  left: auto;
  right: 57px;
}

.user-details-action {
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.user-details-action--primary:hover {
  background-color: #E5E7F7;
}

.user-details-action--report:hover {
  background-color: #FFEDEB;
}

.user-details-action--report {
  padding-top: 8px;
  
}

.user-details-divider {
  margin: 8px 0;
  border-top: 1px solid #ddd;
}

.triangle-right {
  position: absolute;
  transform: rotate(180deg);
  right: -8px;
  top: 42px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #ddd;
}

.triangle-right .inner-triangle {
  position: relative;
  top: -8px;
  left: 2px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #fff;
}

.triangle-left {
  position: absolute;
  transform: rotate(180deg);
  left: -8px;
  top: 42px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #ddd;
}

.triangle-left .inner-triangle {
  position: relative;
  top: -8px;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #fff;
}
