.mainpage-container {
  display: flex;
}

.new-match-person {
  display: flex;
  margin-bottom: 30px;
  padding-right: 20px;
}

.new-match-person__pic {
  margin-top: 3px;
}

.new-match-person__details {
  margin-left: 20px;
}

.members-list {
  flex: 1;
}
