aiohttp==3.6.2
aniso8601==7.0.0
asgiref==3.2.3
async-timeout==3.0.1
attrs==19.3.0
autobahn==20.2.1
Automat==0.8.0
boto3==1.12.14
botocore==1.15.14
certifi==2019.11.28
cffi==1.14.0
channels==2.4.0
chardet==3.0.4
constantly==15.1.0
coverage==5.0.3
cryptography==2.8
daphne==2.4.1
Django==2.2.10
django-channels-graphql-ws==0.4.2
django-cors-headers==3.2.1
django-environ==0.4.5
django-graphql-jwt==0.3.0
django-storages==1.9.1
docutils==0.15.2
factory-boy==2.12.0
Faker==4.0.1
graphene==2.1.8
graphene-django==2.8.0
graphene-file-upload==1.2.2
graphql-core==2.2.1
graphql-relay==2.0.1
gunicorn==20.0.4
hyperlink==19.0.0
idna==2.8
importlib-metadata==1.5.0
incremental==17.5.0
jmespath==0.9.5
more-itertools==8.2.0
msgpack==0.6.2
multidict==4.7.4
oauthlib==3.1.0
packaging==20.1
Pillow==7.0.0
pluggy==0.13.1
promise==2.3
psycopg2==2.8.4
psycopg2-binary==2.8.4
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
PyHamcrest==2.0.0
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.6
pytest==5.3.5
pytest-django==3.8.0
python-dateutil==2.8.1
python-dotenv==0.11.0
pytz==2019.3
requests==2.22.0
requests-oauthlib==1.3.0
Rx==1.6.1
s3transfer==0.3.3
service-identity==18.1.0
singledispatch==3.4.0.3
six==1.14.0
sqlparse==0.3.0
text-unidecode==1.3
Twisted==22.1.0
txaio==20.1.1
urllib3==1.25.8
wcwidth==0.1.8
yarl==1.4.2
zipp==3.0.0
zope.interface==4.7.1
