.imageUpload-dropzone {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.imageUpload-fullwidth {
  width: 100%;
}

.imageUpload-dropzone:hover {
  cursor: pointer;
}

.imageUpload-dropzone--no-image {
  border: 1px solid #888;
}

.imageUpload-dropzone--no-image .select-image {
  /* add styles for hover choose new image (make it like messenger group chat picture) */
}

.imageUpload-image {
    width: 100%;
    height: 100%;
}
