.profile-pic-placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  position: relative;
}

.sidebar-pill__profile-pics-wrapper {
  position: absolute;
}

.profile-pic-placeholder--sm {
  width: 35px;
  height: 35px;
  font-size: 18px;
}

.profile-pic-placeholder--md {
  width: 45px;
  height: 45px;
  font-size: 24px;
}

.profile-pic-placeholder--lg {
  width: 60px;
  height: 60px;
  font-size: 30px;
}

.profile-pic-placeholder__haven-logo {
  margin-left: auto;
  margin-right: auto;
}

.profile-pic-placeholder--sm .profile-pic-placeholder__haven-logo {
  margin-top: 3px;
  padding-right: 2px;
}

.profile-pic-placeholder--md .profile-pic-placeholder__haven-logo {
  margin-bottom: 1px;
  padding-right: 1px;
}

.profile-pic-placeholder__initials {
  font-size: 14px;
}

.verified-badge {
  position: absolute;
  right: -6px;
  bottom: -9px;
}

.profile-pic-container {
  position: relative;
  background: transparent no-repeat center;
  background-size: cover;
  border-radius: 50%;
}

.profile-pic-container--sm {
  width: 35px;
  height: 35px;
}

.profile-pic-container--md {
  width: 45px;
  height: 45px;
}

.profile-pic-container--lg {
  width: 60px;
  height: 60px;
}
