.group-header-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.group-header__text {
  flex: 1;
}

.group-header__actions {
  display: flex;
  align-self: flex-end;
}

.group-header__action {
  margin-left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

.group-header__action:hover {
  background-color: #E5E7F7;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.group-header__action-text {
  margin-left: 8px;
}

.messageContainer {
  padding-left: 20px;
  padding-right: 20px;
}

.message-composer {
  border-right: 1px solid #ddd;
  position: fixed;
  display: flex;
  background-color: #fff;
  bottom: 0;
}

.message-composer--full-width {
  width: calc(100% - 400px);
}

.message-composer--small-width {
  width: calc(100% - 751px);
}

.message-composer__input {
  padding: 20px 100px 20px 20px;
  max-height: 200px;
  border-radius: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-color: #ddd;
}

.message-composer__input:focus {

}

.message-input__button {
  position: absolute;
  top: 12px;
  right: 10px;
}

.chat-details-container {
  height: calc(100vh - 80px);
  width: 350px;
  padding: 25px 20px;
  overflow-y: scroll;
}

.person-container {
  border-bottom: 1px solid #ddd;
}

.person {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.person:hover .person__name {
  color: #525EC8;
}

.person__name {
  transition: color 0.15s;
  margin-left: 12px;
  flex: 1;
}

.chevron {
  transition: transform 0.2s;
}

.chevron--up {
  transform: rotate(-180deg);
}

.chevron--down {

}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.chat-details-verify {
  display: flex;
}

.chat-details-verify-desc {
  margin-left: 20px;
  flex-shrink: 100;
}
