.button {
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  border: 1px solid inherit;
  font-size: 16px;
  font-weight: 500;
  transition-property: background-color color;
  transition-duration: 150ms;
}

.button:hover {
  cursor: pointer;
}

.button--full-width {
  width: 100%;
}

.button--primary {
  background-color: #525EC8;
  border-color: #525EC8;
  color: #fff;
}

.button--primary:hover {
  background-color: #414DB7;
}

.button--secondary {
  background-color: #F6F7FF;
  border-color: #525EC8;
  color: #525EC8;
}

.button--secondary:hover {
  background-color: rgba(82, 94, 200, 0.08);
}

.button:disabled {
  border-color: #bbb;
  background-color: #bbb;
  cursor: not-allowed;
}
