.form__name {
  display: flex;
  width: 100%;
}

.text-input-container {
  display: flex;
  flex-direction: column;
}

.text-input__label {
  margin-bottom: 6px;
}

.flex-1 {
  flex: 1;
}

.flex-1:first-child {
  margin-right: 5px;
}

.flex-1:last-child {
  margin-left: 5px;
}

input {
  width: 100%;
  min-width: 0;
  height: 40px;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  transition-property: border-color background-color;
  transition-duration: 150ms;
}

input:focus {
  border-color: #525EC8;
  background-color: #F6F7FF;
}
