.sidebar-container {
  background: #fafafa;
  border-right: 1px solid #ddd;
  height: 100vh;
  width: 400px;
  padding: 30px 20px;
}

.sidebar-pill {
  display: flex;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
}

.sidebar-pill__profile-pics {
  position: relative;
  width: 70px;
}

.sidebar-pill__text {
  max-width: calc(100% - 80px);
  flex: 1;
}

.add-ellipses {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.sidebar-pill--selected {
  background-color: #e7e7e7;
}

.logout {
  position: absolute;
  cursor: pointer;
  bottom: 20px;
  transition: color 0.15s;
}

.logout:hover {
  color: #525EC8;
}
