.waiting-container {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  text-align: center;
}

.loadingspinner {
  margin-left: auto;
  margin-right: auto;
	pointer-events: none;
	width: 3em;
	height: 3em;
	border: 0.4em solid transparent;
	border-color: #eee;
	border-top-color: #3E67EC;
	border-radius: 50%;
	animation: loadingspin 1s linear infinite;
}

@keyframes loadingspin {
	100% {
			transform: rotate(360deg)
	}
}
