.message-container {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
}

.message-container--from-self {
  flex-direction: row-reverse;
}

.message-container__profile-pic {
  margin-top: 4px;
}

.message-text-wrapper {
  display: flex;
  flex: 1;
}

.message-text-wrapper--from-self {
  justify-content: flex-end;
}

.message-text-container {
  max-width: 70%;
  display: inline-block;
  margin-left: 12px;
  margin-right: 12px;
}

.message-text__metadata {
  display: flex;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 5px;
}

.message-text__metadata--from-self {
  justify-content: flex-end;
}

.metadata__sender {

}

.metadata__time {
  margin-top: 1px;
  margin-left: 10px;
  color: #555;
}

.message-text__content {
  background-color: #f1f1f1;
  padding: 8px 12px;
  border-radius: 10px;
  word-wrap: break-word;
  white-space: pre-line;
}

.message-text__content--from-self {
  background-color: #E5EBF7;
}
