.contentContainer-container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 400px);
    border-right: 1px solid #ddd;
}

@media (max-width: 1400px) {
  .contentContainer-container {
    width: calc(100% - 350px);
  }
}

@media (max-width: 1200px) {
  .contentContainer-container {
    width: calc(100% - 300px);
  }
}

@media (max-width: 1100px) {
  .contentContainer-container {
    width: calc(100% - 260px);
  }
}

.contentContainer-header {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 80px;
    border-bottom: 1px solid #DDD;
    background-color: #f8f8f8;
}

.messages-container {
  height: calc(100vh - 140px);
  overflow-y: scroll;
  flex-grow: 1;
  border-right: 1px solid #ddd;
}

.contentContainer-mainContent {
  display: flex;
  flex-direction: row;
}
